#circle1,
#circle2 {
  background-size: cover;
}
.main,
.names {
  position: absolute;
}
body {
  overflow: hidden;
}
.background,
.circle {
  background-repeat: no-repeat;
}
.card:hover .names,
.names {
  transition: 0.5s ease-in-out;
}
.main {
  top: 0;
  left: 0;
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/alpe-di-siusi-sunrise-with-sassolungo-or-langkofel-royalty-free-image-1623254127.jpg);
  opacity: 0.6;
  height: 105%;
  width: 105%;
  overflow: auto !important;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: fit-content;
  gap: 70px;
  margin-top: 55px;
}
.card {
  padding: 50px;
  max-width: 800px;
  max-height: 480px;
  background-color: #7fffd4;
  transform: skew(-14deg);
  background-color: #ffffff73;
  backdrop-filter: blur(2px);
}
.circle,
h4,
p {
  transform: skew(14deg);
}
.circle {
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  float: left;
  shape-outside: circle();
}
p {
  margin: 0;
  padding: 0;
  text-align: justify;
  line-height: 22px;
}
h4 {
  margin-top: 10px;
  margin-bottom: 15px;
}
#circle1 {
  background-image: url(https://t4.ftcdn.net/jpg/02/79/66/93/360_F_279669366_Lk12QalYQKMczLEa4ySjhaLtx1M2u7e6.jpg);
}
#circle2 {
  background-image: url(https://www.shutterstock.com/image-vector/portrait-young-asian-man-vector-260nw-1563535414.jpg);
}
.names {
  display: inline-block;
  top: 90px;
  left: 49px;
  opacity: 0%;
  font-size: medium;
}
.card:hover .names {
  color: #fff;
  transform: translateY(-25px);
  opacity: 100%;
}
@media (max-width: 768px) {
  .card,
  .circle,
  h4,
  p {
    transform: skew(0);
  }
  .background {
    height: 116%;
  }
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .circle {
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
  .names {
    top: 90px;
    left: 24px;
  }
}
@media (max-width: 675px) {
  .background {
    height: 127%;
  }
}
@media (max-width: 559px) {
  .card {
    padding: 23px;
  }
  .background {
    height: 137%;
  }
}
@media (max-width: 460px) {
  .background {
    height: 152%;
  }
}
@media (max-width: 388px) {
  .background {
    height: 166%;
  }
}
@media (max-width: 376px) {
  .circle {
    margin-right: 6px;
  }
  .heading {
    text-align: center;
  }
}
@media (max-width: 358px) {
  .background {
    height: 177%;
  }
}
@media (max-width: 268px) {
  .background {
    height: 180%;
  }
}
@media (max-width: 230px) {
  .circle {
    display: none;
  }
}
@media (max-width: 200px) {
  .card {
    padding: 10px 15px;
  }
}
@media (max-width: 185px) {
  .background {
    height: 195%;
  }
  .card {
    max-height: 532px;
  }
}
@media (max-width: 179px) {
  .background {
    height: 185%;
  }
  .card {
    padding: 2px 3px;
  }
}
@media (max-width: 155px) {
  .background {
    height: 195%;
  }
  .card {
    padding: 0 2px;
  }
}
@media (max-width: 152px) {
  .background {
    height: 195%;
  }
  .card {
    padding: 0 2px;
    max-height: 575px;
  }
}
@media (min-width: 770px) {
  .card {
    transform: skew(-14deg);
  }
  .circle,
  h4,
  p {
    transform: skew(14deg);
  }
}
