* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main::before {
  content: "";
  background-image: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/alpe-di-siusi-sunrise-with-sassolungo-or-langkofel-royalty-free-image-1623254127.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
}
.main {
  position: relative;
  padding: 70px;
  min-height: 745px;
}

.img {
  margin: 0 2%;
  float: left;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transform: skew(25deg);
  margin: 32px;
}

.image {
  position: relative;
  width: 25rem;
}
.img:hover {
  filter: blur(2px);
  font-size: 20px; 
}

.desc {
    font-size: 20px;
    margin: 19px;
    font-weight: bolder;
    transform: none;
    position: absolute;
    top: 65px;
    bottom: 0;
    left: 68px;
    right: 0;
    color: rgb(255, 255, 255);
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
  }

  .image:hover .desc {
    visibility: visible;
  }

body {
  width: 100%;
}
.pgm {
  display: flex;
  justify-content: center;
  
}
.container {
  width: 100%;
  margin: 1rem 2rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  background-color: red;
  transform: skew(-25deg);
  box-shadow: inset;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(2px);
}
.container img {
  margin-right: 2rem;
  border-radius: 50%;
  transform: skew(25deg);
}
.text {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  transform: skew(25deg);
}
.container p {
  transform: skew(25deg);
  font-size: 1.0rem;
}
.heading {
  font-weight: bold;
  padding-bottom: 1rem;
  font-size: 1.4rem;
}
.heading2{
  font-size: 1.2rem;
}



/*----------media query------------------*/
/* @media(min-width:999px) and (max-width: 1400px){
  
  html{
    font-size: 80%;
  }
} */


/*----------------------- Big Screen/Dekstop-----------------------*/
@media(min-width:999px) and (max-width: 1200px){
  



  html{
    font-size: 80%;
  }
  .desc {
    top: 40px;
    left: 40px;
  }
}

/*------------------------- Laptops---------------------------------*/
@media(min-width:769px) and (max-width: 998px){
  html{
    font-size: 65%;
  }
  .desc {
    top: 50px;
    left: 55px;
  }
  .image {
    width: 33rem;
  }

 }

 /*------------------------Tablets ------------------------------------*/
@media(min-width:710px) and (max-width: 768px){
  html{
    font-size: 60%;
  }
  .desc {
    top: 37px;
    left: 40px;
  }
  .image {
    width: 33rem;
  }
 

}

/*--------------------Smart Phone ------------------------*/
@media(min-width:481px) and (max-width: 709px){

  html{
    font-size: 80%;
  }
  .desc {
    font-size: 20px;
    margin: 19px;
    font-weight: bolder;
    transform: none;
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 180px;
    right: 0;
    color: rgb(255, 255, 255);
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    transform: skew(0deg)!important;
  }
  .img{
    transform: skew(0deg)!important;
    height: 80%;
    width: 25%;
    margin: 10px;
  }
  .main{
    padding: 8px;
  }
  .image {
    width: 100%;
    justify-content: center;
    display: flex;
    float:none;
  }
  .text{
    padding-left: 0rem;
    transform: skew(0deg);
  }
  .container {
    transform: skew(0deg);
    flex-direction: column;
  }
  }



/*--------------------Mobile -----------------------*/
@media(max-width:480px){
  
  html{
    font-size: 50%;
  }
  .desc {
    font-size: 20px;
    margin: 19px;
    font-weight: bolder;
    transform: none;
    position: absolute;
    top: 35px;
    bottom: 0;
    left: 180px;
    right: 0;
    color: rgb(255, 255, 255);
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
    transform: skew(0deg)!important;
  }
  .img{
    transform: skew(0deg)!important;
    height: 80%;
    width: 25%;
    margin: 10px;
    margin-bottom: 18px;
  }
  .main{
    padding: 8px;
  }
  .image {
    width: 100%;
    justify-content: center;
    display: flex;
    float:none;
  }
  .text{
    padding-left: 0rem;
    transform: skew(0deg);
  }
  .container {
    transform: skew(0deg);
    flex-direction: column;
  }
  }



